{{!-- Profile dashboard (once logged in) --}}
<h1>Profile Dashboard</h1>
<p>Welcome <span style='font-weight: 800'>{{plainData.username}}</span></p>
<h2>Your Posts:</h2>
{{#each plainData.Posts}}
<h3>{{title}}</h3>
<div>{{content}}</div>
{{/each}}
<h2>New Post:</h2>

