{{!-- Home Page --}}
<h1>Home</h1>
<div class='posts'>
    {{#each posts}}
    <div class='post-content'>
        <h3>{{title}}</h3>
        <p>{{content}}</p>
    </div>
    <div class='comment-section'>
        {{#each posts.Comments}}
        <h5>{{Comment.content}}</h5>
        {{/each}}
    </div>
    {{/each}}
</div>