<h1>Sign Up</h1>
<form action="">
    <label for="username">New Username:</label>
    <input type="text" id="username">
    <label for="password">New Password:</label>
    <input type="text" id="password">
    <label for="check-password">Repeat New Password:</label>
    <input type="text" id="check-password">
    <input type="submit" name="" id="signup-user">
</form>